# 의존성
node_modules

# 빌드 결과
dist
build

# Git
.git
.gitignore

# 환경 변수
.env.local
.env.development
.env.production

# 로그
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode
.idea
*.swp
*.swo

# 테스트
coverage
.nyc_output

# 기타
*.md
!README.md
